<div class="container-fluid">
  <h1>Cheeses</h1>
</div>
<div>
  <div class="container">
      <ol class="cheeses" *ngIf="cheeses.length > 0; else NoData">
        <li class="list-item-title">
          <span class="item-name-title">Cheese</span>
          <span class="item-price-title">Price</span>
        </li>
          <li class="list-item" *ngFor="let item of cheeses">
            <span class="item-name">{{item.name}}</span>
            <span class="item-price">{{item.price | price}}</span>
          </li>
      </ol>
      <ng-template #NoData>
          <h1 class="no-data">No Data Available</h1>
      </ng-template>
  </div>
</div>